@use "./utils/" as *;
.myorders {
  font-family: "Roboto", sans-serif;

  &__header {
    th {
      font-size: 1.1rem;
      font-weight: 500;
      color: #2c2c2c;
    }
  }

  h2 {
    font-size: 2rem;
    color: #2c2c2c;
    margin-bottom: 3rem;
  }
  button {
    padding: 0.3rem 1rem;
  }

  svg {
    font-size: 1.3rem;
  }
}
