@use "./utils/" as *;
.orderSuccess {
  padding: 7rem 0;

  text-align: center;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > svg {
    font-size: 3rem;
    color: tomato;
    @include breakpoint-up("large") {
      font-size: 4rem;
    }
  }
  > h1 {
    font-size: 2rem;
    margin: 1.5rem 0;

    @include breakpoint-up("large") {
      font-size: 3rem;
      line-height: 1.2;
    }
  }
  > a {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: transparent;
      border: 1px solid #2c2c2c;
      color: #2c2c2c;
    }
  }
}
